.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color:#4CE076;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo{

    width: 100px;
    height: 55px;
    object-fit:contain;
    margin: 0 20px;
    margin-top: 1px;

}
.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;

}
.header_search_Input{
    margin-left: 100px;
    height: 22px;
    width: 400px;

}
.header_serchIcom{
    padding: 5px;
    height: 22px !important;
    background-color:#3E6148;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 40px;
    color:rgb(0, 0, 0);
}
.header_option_text1{
    font-size:10px ;
    
}
.header_option_text2{
    font-size:13px ;
    font-weight: 800;
}
.header_optionBasket{
    margin-right: 30px;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
}
.header_basketCount{
    margin-left: 10px;
    margin-left: 10px;
}