.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: whitesmoke;
    border: 2px solid white;
    border-radius: 20px;
}
.subtotal_gift{
    margin-right:5px;
}
.subtotal > button{
    background: #68a178;
    border-radius: 2px;
}